$colors: (
	common: (
		"white": #fff,
		"black": #000,
		"blue": #2785ff,
		"heading": #0b3d2c,
		"text": #777777,
		"border": #0b3d2c,
		"placeholder": #777777,
	),
	theme: (
		"1": #0b3d2c,
		"2": #4e9f24,
		"3": #f8f5f0,
	),
	bg: (
		"1": #0b3d2c,
		"2": #4e9f24,
		"3": #f6f6f6,
	),
);
