@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-image: url('/pattern.png');
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: center;
    }
}
